.homeContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    
    .homeParagraph {
        max-width: 800px;
        min-height: 200px;

        p {
            padding: 10px;
            text-align: center;
            color: white;
            font-size: 30px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
}

@media screen and (max-width: 975px) {
    .homeContent {
    
        .homeImage {
            img {
                width: 600px;
                height: 400px;
                object-fit: cover;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .homeContent {

        .homeImage {
            img {
                width: 400px;
                height: 300px;
                object-fit: cover;
            }
        }
    }
}